
 
        h2{color:rgb(14, 97, 153);}     
 
       h1{color:rgb(14, 97, 193);}  
        ul{color:rgb(14, 97, 193);}
         
     .ol{background: rgb(192, 210, 224);
          width: 200px;
     }   
   .intro{background: rgb(192, 210, 224);
       width: 300px;   }
       
       .al{color:rgb(14, 97, 193);}
       
       #pg{  border-top: 20px solid blue;}
      